
body {
background-image: url('yubg.png')

}
.search_bar input[type="text"]{
position: relative;
left:5%;
top:10%;
bottom:1000%;
width:20%;
background-color:white;
color:grey;
}
.whitelogo{
 border-radius: 25px;
  padding: 20px;
  width: 20%;
  height: 100px;
}
button#button{
position:relative;
  left:-100px;
  top:-80px;
}
p#firsttext{
text-indent: 25px;
background-color:white;
border-radius: 45px;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 330px;
  padding-left: 40px;
  width: 20%;
  height: 100px;
  margin:0px;
   position: absolute;
  left: 500px;
  top: 180px;
}
p#aboutus{
font-size:40px;
background-color:#5F9EA0;
border-radius: 5px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 300px;
  height: 50px;
  position: absolute;
  left: 500px;
  top: 80px;
}
.secondtext{
background-color:#5F9EA0;
border-radius: 5px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 300px;
  height: 50px;
  font-size:35px;
  position: absolute;
  left: 300px;
  top: 150px;
  margin:0px;
}
img#lcs1{
border-radius: 5px;
width:10%;
height:10%;
position:relative;
  left:900px;
  top:-50px;

}
img#lcs2{
border-radius: 5px;
width:13%;
height:10%;
position:relative;
  left:930px;
  top:-50px;
}
img#coding{
border-radius: 10px;
width:13%;
height:10%;
position:relative;
  left:580px;
  top:140px;
}
img#webdes{
border-radius: 10px;
position:relative;
  left:415px;
  top:260px;
}
img#thought{
 border-radius: 25px;
  padding: 20px;
  width: 10%;
  height: 100px;
  position:relative;
  left:-410px;
  top:-20px;
}
p#learningobjective{
background-color:#5F9EA0;
border-radius: 5px;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  width: 300px;
  height: 50px;
  font-size:35px;
  position:relative;
  left:900px;
  top:200px;
}
p#thirdtext{
 background-color:white;
border-radius: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 150px;
  height: 65px;
  font-size:35px;
  position: absolute;
  left: 1050px;
  top: 320px;
}
p#fourthtext{
 background-color:white;
border-radius: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  width: 150px;
  height: 65px;
  font-size:35px;
  position: absolute;
  left: 1050px;
  top: 420px;
}